<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
    {% if current_user.is_authenticated %} 
    {% if current_user==user %}
     <a href="/">Shows</a>
     <a href="{{url_for('logout')}}">Logout</a>
    {% elif current_user==admin %}
    <a href="{{url_for('add_venue')}}">Add Venue</a>
    <a href="{{url_for('add_show')}}">Add Show</a>
    <a href="{{url_for('show_venue')}}">My Venues</a>
    <a href="{{url_for('show_show')}}">My Shows</a>

    <a href="{{url_for('logout')}}">Logout</a>
    {% endif %}
    
    {% endif %}
</head>
<body>

<h2>Add Shows</h2>

    <form action="add-show" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" required>
        <br>
        <label for="rating">Rating</label>
        <input type="number" step="any" name="rating" required>
        <br>
        <label for="timing">Timing</label>
        <input type="text" name="timing" required> 
        <br>
        <label for="timing">Venue</label>
        <input type="text" name="venue" required> 
       
        <br>
        <label for="tags">Tags</label>
        <input type="text" name="tags" required>
        <br>
        <label for="price">Price</label>
        <input type="number" name="price" required>
        <br>
        <button type="submit">Add</button>
    
    </form>
</body>
</html>