{% extends "base.html" %}

{% block title %}
Add Show
{% endblock %}

{% block content %}

<body class="text-center">
    
        
    <div class="container w-25 my-5 border" style="background-color:#e9ecef ; text-align :center">
        <br>
        <h2 class="h3 mb-3 font-weight-normal">Add Shows</h2>
   
        <form action="/add-show" method="POST" class="form-signin">
            
            <input type="text" name="name" required placeholder="Show Name"  class="form-control">
            
            <input type="text" step="any" name="rating" required placeholder="Show Rating"  class="form-control"> 
           
            <input type="text" name="timing" required placeholder="Show Time"  class="form-control">
            
            <input type="text" name="tags" required placeholder="Show Tags"  class="form-control">
           
            <input type="number" name="price" required placeholder="Show Price"  class="form-control">
            
           
            <select id="venue" name="venue" class="form-control">
                <option value="" disabled selected hidden >Select Venue</option>
                {% for venue in venues %}
                <option value="{{ venue.id }}"> {{ venue.name }} </option>
                {% endfor %}
            </select>
            <br>
            <br>
            <button class="btn btn-lg btn-dark btn-block" type="submit">Add Show </button>
            <br>
        </form>
        <br>
    </div>
</body>
{% endblock %}