{% extends "base.html" %}

{% block title %}
Add Venue
{% endblock %}

{% block content %}

<body>
    {% if current_user.is_authenticated %}
    {% if current_user==admin %}
    <div class="container w-25 my-5 border" style="background-color: #e9ecef ; text-align :center">
        <br>
        <h2  class="h3 mb-3 font-weight-normal">Add Venues</h2>
        <form action="/add-venue" method="POST">
            
            <input type="text" name="name" required placeholder="Name"  class="form-control" >
            
            
            <input type="text" name="place" required placeholder="Place"  class="form-control" >
            
            <input type="text" name="location" required placeholder="Location"  class="form-control" >
            
           
            <input type="number" name="capacity" required placeholder="Capacity"  class="form-control">
            
            <br>
            <button class="btn btn-lg btn-dark btn-block" type="submit">Add Venue</button>
            <br>
        </form>
        <br>
    </div>
    {% endif %}
    {% endif %}
</body>
{% endblock %}