{% extends "base.html" %} 

{% block title %} 
Book Show 
{% endblock %}

{% block content %}
<body> 
    <div class="add-show-venue">
    <form action=""method ='POST'>
         <h2>Book Tickets</h2>
     
        Name :{{show.name}}
        <br>
       
        Timing:{{show.timing}} 
        <br>
       Venue:{{show.venues.name}}
       <br>
       Price :{{show.price}}
       <br>
       
       Available Seats : {{show.venues.capacity - show.tickets_booked|length }}
      
        <br>
        <label for="no_of_seats">Seats </label>
        <input type="text" name="no_of_seats" required>
        <br>
        <button class="button" type="submit">Book</button>

    </form>
</div>
   
</body>
{% endblock %}