{% extends "base.html" %}

{% block title %}
User Login
{% endblock %}

{% block content %}
<body class="text-center">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="navbar-brand" href="/">Home</a>
                </li>
            </ul>
            <a class="navbar-brand" href="#">Movie House</a>
        </div>
    </nav>
<form action="/login-user" method="POST" class="form-signin">
    <div class="container w-25 my-5 border" style="background-color:#e9ecef   ; text-align :center">
        <br>
        <h2 class="h3 mb-3 font-weight-normal">User Login</h2>
        <input type="text" for="username" class="form-control" name="username" placeholder="username" required>
        <input type="password" for="password" class="form-control" name="password" placeholder="password" required>
        <br>
        <button value="Submit" class="btn btn-lg btn-dark btn-block">Login</button>
        <br> <br>
        {% with messages = get_flashed_messages() %}
        {% if messages %}

        {{ messages[0] }}

        {% endif %}
        {% endwith %}
    </div>
</form>


<!-- <h5><a href="{{url_for('login_admin')}}"> Admin Login Here</a> </h5> -->
</body>
{% endblock %}