<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <h3>User Login</h3>   
    
</head>
<body> 
    <form action="/login-user" method="POST">
        <div>
            <input type="text" for="username" name="username" placeholder="username" required>
        <br>
        <input type="password" for="password" name="password" placeholder="password" required>
        </div>
        <br>
        <button value="Submit" >Login</button>
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
    {% endif %}
    {% endwith %}

    <h5><a href="{{url_for('login_admin')}}"> Admin Login Here</a> </h5>
</body>
</html>