{% extends "base.html" %} 

{% block title %} 
Admin Login
{% endblock %}

{% block content %}
<body class="admin1">
    <form action="/login-admin" method="POST">
        <div class="admin">
            <h2>Admin Login</h2>
            <input type="text" for="username" name="username" placeholder="username" required>
            <br>
            <input type="password" for="password" name="password" placeholder="password" required>
            <br> <br>
            <button value="Submit" class="button" >Login</button>
            <br>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
               
                    {{ messages[0] }}
                
            {% endif %}
            {% endwith %}
        </div>
    </form>
   
</body>
{% endblock %}