{% extends "base.html" %} 

{% block title %} 
User Login
{% endblock %}

{% block content %}
<body class="user1"> 
    <form action="/login-user" method="POST">
        <div class="user">
            <h2>User Login</h2>
            <input type="text" for="username" name="username" placeholder="username" required>
        <br>
        <input type="password" for="password" name="password" placeholder="password" required>
        
        <br>
        <br>
        <button value="Submit" class="button" >Login</button>
        <br>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
           
                {{ messages[0] }}
            
        {% endif %}
        {% endwith %}
    </div>
    </form>
   

    <!-- <h5><a href="{{url_for('login_admin')}}"> Admin Login Here</a> </h5> -->
</body>
{% endblock %}