{% extends "base.html" %}

{% block title %}
Venues
{% endblock %}

{% block content %}
<br>
<div class="container">
   <div class="row"> 
     
     {% for venue in venues %}
    
       <div class="col-md-3">
         <div class="venue-item  border rounded p-3" style="background-color: #e9ecef;">
            <p>Name : {{venue.name}}</p>
            <p>Place :{{venue.place}}</p>
            <p>Location :{{venue.location}}</p>
            <p>Capacity :{{venue.capacity}}</p>
            <br>
            <a href="/update_venue/{{venue.id}}" class="btn btn-lg btn-dark btn-block">Update</a>
            <a href="/delete_venue/{{venue.id}}" class="btn btn-lg btn-dark btn-block">Delete</a>
          </div>
         
         <br>
        </div>
       
       
       
    
       {% if loop.index is divisibleby(4) %}
        <div class="w-100"></div>
       {% endif %}
     {% endfor %}
   </div>
   
 </div>

 



{% endblock %}