{% extends "base.html" %} 

{% block title %} 
Admin registration
{% endblock %}

{% block content %}
<body class="admin1">
    <form action="/register-admin" method="POST">
        <div class="admin">
            <h2>Admin Registration</h2>
            <input type="text" for="username" name="username" placeholder="username" required>
            <br>
            <input type="email" for="email" name="email" placeholder="email" required>
            <br>
            <input type="password" for="password" name="password" placeholder="password" required>  
            <br> <br>
            <button value="submit" class="button" >Register</button>
            <br>
            <p>Already Registered ! <a href="{{url_for('login_admin')}}">Login</a></p>
            <br>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
          
               {{ messages[0] }}. Go to <a href="{{ url_for('login_admin') }}">login page </a>.
          
            {% endif %}
            {% endwith %}
        </div>
           

    </form>
   

</body>
{% endblock %}