{% extends "base.html" %} 

{% block title %} 
User Registration
{% endblock %}

{% block content %}
<body class="user1" >
    <form action="/register-user" method="POST">
       
        <div class="user">
            <h2>User Registration</h2>
            <input type="text" for="username" name="username" placeholder="username" required>
            <br>
            <input type="email" for="email" name="email" placeholder="email" required>
        <br>
            <input type="password" for="password" name="password" placeholder="password" required>
            
       
        <br>
        <br>
        <button value="submit" class="button">Register</button>
        <br>
        <p>Already Registered ! <a href="{{url_for('login')}}">Login</a></p>
        <br>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
           
               {{ messages[0] }}. Already Registered ! <a href="{{ url_for('login') }}">Login</a>.
           
       {% endif %}
       {% endwith %}
    </div>
   
    </form>
   
    
   

</body>
{% endblock %}