{% extends "base.html" %} 

{% block title %} 
Shows
{% endblock %}

{% block content %}
<body>
   

    {% for show in shows %}
       <div class="show-venue">
         <p>Name : {{show.name}}</p>
         <p>Rating :{{show.rating}}</p>
         <p>Timing :{{show.timing}}</p>
         <p>Venue :{{show.venue}}</p>
         <p>Tags :{{show.tags}}</p>
         <p>Price :{{show.price}}</p>
         <br>
         <a href="{{url_for('update_show')}}" class="btn-index">Update</a>
         <a href="{{url_for('update_show')}}" class="btn-index">Delete</a>

    </div>
    <br>
      {% endfor %}   
      <br>
</body>
{% endblock %}
