{% extends "base.html" %}

{% block title %}
Update Show
{% endblock %}

{% block content %}

<body>
    <div class="container w-25 my-5 border" style="background-color:#eee  ;">
        <h2 style="text-align: center;">Update Shows</h2>

        <form method="POST">
            <h9>Show   :{{ show.name}}</p1>
            <br>
            <p1>Rating :{{show.rating}}</p1>
            <br>
            <p1>Venue  : {{ show.venues.name }}</p1>
            <br>
            <label for="timing"></label>
            <input type="text" name="timing" value="{{show.timing}}" required placeholder="Update Time">
            <br>
            <label for="tags"></label>
            <input type="text" name="tags" value="{{show.tags}}" required placeholder="Update Tags">
            <br>
            <label for="price"></label>
            <input type="number" name="price" value="{{show.price}}" required placeholder="Update Price">
            <br> <br>
            <button class="btn btn-dark " style="text-align: center;" type="submit">Update</button>

        </form>
    </div>
</body>
{% endblock %}