
{% extends "base.html" %} 

{% block title %} 
My Shows
{% endblock %}

{% block content %}
<body>
    <br>
    
    {% if current_user.is_authenticated %} 
    {% if current_user==user %}

    <div class="container">
        <div class="row">
    {% for show in shows %}
    <div class="col-md-3">
    <div class="venue-item  border rounded p-3" style="background-color: #e9ecef;">
    <p>Name : {{show.name}}</p>
    <p>Rating :{{show.rating}}</p>
    <p>Time :{{show.timing}} hrs</p>
    <p>Venue :{{show.venues.name}}</p>
    <p>Tags :{{show.tags}}</p>
    <p>Price :{{show.price}}</p>
    <br>
    <a href="/book-ticket/{{show.id}}" class="btn btn-dark">Book</a>
</div>
<br>
</div>
    
    

    {% if loop.index is divisibleby(4) %}
    <div class="clearfix"></div>
     {% endif %}
    {% endfor %}

</div>
</div>
    {% endif %}
    {% endif %}
</body>
{% endblock %}
